@{
    ViewData["Title"] = "Register";
}
<div>
<div class="border-bottom py-2">
  <div class="row align-items-center">
    
    <div class="col">
      <p class="text-uppercase fs-1 fw-bolder fst-italic">welcome to <span class="text-primary">Academic Registration system</span></p>
    </div>
    <div class="col">
      <img src="~/img/academic.png" class="w-75"/>
    </div>
  </div>
  </div>
  <!----- <div class="my-4">
      <div class="row">
          <div class="col">
                <div class=" position-relative shadow-sm w-full rounded border border-primary">
          <div class="text-center d-flex flex-column justify-content-center align-items-center ">
          <img src="~/img/employee.png" class="logo xs:h-10 py-2 " />
          </div>
          
          <div class="text-center d-flex flex-column align-items-center justify-content-center ">
            <p class="fw-bold m-0 p-0">200</p>
            <p class="fs-6">Total Students</p>
          </div>
      </div>
          </div>
            <div class="col">
                <div class=" position-relative shadow-sm w-full rounded border border-secondary">
          <div class="text-center d-flex flex-column justify-content-center align-items-center ">
          <img src="~/img/employee.png" class="logo xs:h-10 py-2 " />
          </div>
          
          <div class="text-center d-flex flex-column align-items-center justify-content-center ">
            <p class="fw-bold m-0 p-0">200</p>
            <p class="fs-6">Total Teachers</p>
          </div>
      </div>
          </div>
            <div class="col">
                <div class=" position-relative shadow-sm w-full rounded border border-success">
          <div class="text-center d-flex flex-column justify-content-center align-items-center ">
          <img src="~/img/employee.png" class="logo xs:h-10 py-2 " />
          </div>
          
          <div class="text-center d-flex flex-column align-items-center justify-content-center ">
            <p class="fw-bold m-0 p-0">200</p>
            <p class="fs-6">Total Female</p>
          </div>
      </div>
          </div>
            <div class="col">
                <div class=" position-relative shadow-sm w-full rounded border border-danger">
          <div class="text-center d-flex flex-column justify-content-center align-items-center ">
          <img src="~/img/employee.png" class="logo xs:h-10 py-2 " />
          </div>
          
          <div class="text-center d-flex flex-column align-items-center justify-content-center ">
            <p class="fw-bold m-0 p-0">200</p>
            <p class="fs-6">Total Male</p>
          </div>
      </div>
          </div>

      </div>
  </div> -->
  <div id="features">
    <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
        <p class=" px-4 py-1 fw-bolder fs-4">ARS Features</p>
    </div>
    <div>
        <div class="">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-3">
                        <div>
              <div class="change cursor-pointer p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a asp-action="Create" asp-controller="Auth">
                  <img src='/img/createuser.png' height="200px" class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Create User
              </p>
            </div>
                </div>
                      <div class="col-3">
                        <div>
                            <div class=" change cursor-pointer p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a asp-action='Display' asp-controller='Auth'>
                  <img src='/img/displayuser.png' class="features" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Display User
              </p>
            </div>
                </div>
                        <div class="col-3">
                        <div>
                            <div class="change cursor-pointer p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/totalusers.jpg' height="200px" class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Details of Users
              </p>
            </div>
                </div>
                        <div class="col-3">
                        <div>
                           <div class=" change cursor-pointer p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/detailsuser.webp' height="200px" class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Total Users
              </p>
            </div>
                </div>

            </div> 
        </div>
    </div>
</div>
  </div>