@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="container py-5">
  <div class="row py-5 h-100 d-flex align-items-center justify-content-center">
      <div class="col-5">
        <img src="/img/academic.png" height="300px"/>
    </div>
    <div class="col-7">
        <p class="fs-1">Academic <span class="text-primary">Registration</span> System</p>
        <p class="lh-lg">
          ARS (Academic Registration System) is a flexible, powerful, user friendly and affordable registration solution for institutions and organizations of any size or budget. It will cover the basics of user registrations related to academic institutions like user creations, user update, user search and user deletion. ARS empowers staff and management with the transparency of data and ease of use to manage their information, data and save those details for future reference. Every organization has a large number of users. So, it would be convenient to have a software utility to manage them. So, this system helps us to view, add, edit, search or delete the user information digitally which saves time to a great extent.
        </p>
    </div>
    
  </div>
</div>

<div id="aboutus" class="pb-sm-4">
    <div class="d-flex align-items-center justify-content-center pb-4">
       <p class=" px-4 py-1 fw-bolder fs-4">About Us</p>
    </div>
    <div>
        <div class="">
            <div class="row d-flex align-items-center justify-content-center">
                 <div class="col-7 lh-lg">
                    <h3 class="text-primary">What we do?</h3>
                   The proposed registration system is a web application called ARS (Academic Registration System). The goal of this project is to provide a flexible, powerful, user friendly and affordable registration solution for institutions and organizations of any size or budget. It will cover the basics of user registrations related to academic institutions like user creations, user update, user search and user deletion. This web application helps system managers to view, search, edit , create or delete user details from the web interface and keep track of user details for future purposes.
                </div>
                <div class="col-5">
                    <img src="~/img/aboutusfinal.webp" height="300px" class="w-100"/>
                </div>
               
            </div> 
        </div>
    </div>
</div>

<div id="features">
    <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
        <p class=" px-4 py-1 fw-bolder fs-4">Features</p>
    </div>
    <div>
        <div class="">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-3">
                        <div>
              <div class="p-2 rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/createuser.png' height="200px" class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Create User
              </p>
            </div>
                </div>
                      <div class="col-3">
                        <div>
                            <div class="p-2 rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/displayuser.png' height="200px" class="features" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Display User
              </p>
            </div>
                </div>
                        <div class="col-3">
                        <div>
                            <div class="p-2 rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/detailsuser.webp' height="200px" class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Details of User
              </p>
            </div>
                </div>
                        <div class="col-3">
                        <div>
                           <div class="p-2 rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/totalusers.jpg' height="200px" class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Total Users
              </p>
            </div>
                </div>

            </div> 
        </div>
    </div>
</div>
<div id="contactus" class="contact pt-4">
    <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
     <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
        <p class=" px-4 py-1 fw-bolder fs-4">Contact Us</p>
    </div>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 fs-2 font-weight-bold">Any queries?<br/> <span class="fs-6">Connect with us Here.</span></p>

    <div class="row">

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-12 text-center">
            <ul class="list-unstyled mb-0 d-flex align-items-center justify-content-evenly">
                <li class='border border-success px-4 py-2'><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <p>Samakhusi, Kathmandu</p>
                </li>

                <li class='border border-success px-4 py-2'><i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <p>+ 023445643</p>
                </li>

                <li class='border border-success px-4 py-2'><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <p>users@ars.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
</div>
</div>
    
